.awardSec {
  padding: 70px 0 30px;
  position: relative;
  background: #fff;
  z-index: 99;
}

.content {
  position: sticky;
  top: 0;
}

.awardsHeading {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 13px;
  letter-spacing: 2px;
  color: black;
}

.txt {
  position: relative;
}

.txt::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(#4a78ef, #f32fc2, #f32f53);
}

.awardsHeading span {
  color: #f32f53;
}

.awardSec p {
  font-size: 17px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 30px;
  padding-right: 16px;
  color: #000;
  /* padding-right: 50px; */
}

.btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn a {
  background-color: black;
  box-shadow: 0 5px 12px #00000075;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 6px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  perspective: 300px;
  padding: 10px 30px;
}

.pageReviews {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.pageReviews p {
  font-size: 28px !important;
  font-weight: 400;
  line-height: 36px;
  padding-right: 0 !important;
}

.pageReviews h4 {
  font-size: 200px;
  line-height: 185px;
  font-weight: bold;
  color: #f32f53;
}

.pageReviews .reviews {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pageReviews .reviews .icons {
  color: #ffb800;
  font-size: 50px;
}

/* ========================== */

.awardsliderSec {
  padding-bottom: 60px;
}

.awardSlider {
  padding-left: 35px;
  margin-bottom: 0 !important;
}

.awardSlider :global(.swiper-wrapper) {
  transition-timing-function: linear !important;
}

.awardSlider:hover :global(.swiper-wrapper) {
  transition-duration: 1ms !important;
}

.awardSlider :global(.swiper-slide) {
  height: auto !important;
  display: flex !important;
}

.awardSlider :global(.swiper-slide > div) {
  width: 100%;
  height: 100%;
}

.sliderCards {
  background: #FBFBFB;
  border-radius: 20px;
  padding: 25px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliderTxt h6 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-align: center;
  padding-top: 6px;
}

.sliderTxt p {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000;
  opacity: 1;
  padding-right: 0;
}

.imageDiv {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

/* Media Query Start */
@media only screen and (max-width: 1600px) {
  .sliderTxt p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1399px) {
  .sliderTxt p {
    font-size: 12px;
  }

  .sliderCards {
    padding: 25px 10px;
  }

  .awardsHeading {
    font-size: 35px;
    line-height: 40px;
  }

  .txt::after {
    right: -12px;
  }

  .sliderCards {
    min-height: 280px;
    max-height: 300px;
  }

  .imageDiv {
    min-height: 130px;
    max-height: 130px;
  }
}

@media only screen and (max-width: 1199px) {
  .awardSec {
    padding: 40px 0;
  }

  .awardsHeading {
    font-size: 30px;
    line-height: 30px;
  }

  .awardSec p {
    margin-bottom: 10px;
    padding-right: 0;
    font-size: 14px;
    line-height: 24px;
  }

  .sliderTxt h6 {
    font-size: 18px;
  }

  .sliderCards {
    min-height: unset;
    max-height: 250px;
  }
}

@media only screen and (max-width: 991px) {
  .awardsHeading {
    font-size: 21px;
    line-height: 24px;
  }

  .awardSec p {
    font-size: 13px;
    line-height: 20px;
    padding-right: 0px;
  }

  .btn a {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .pageReviews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
  }

  .awardsliderSec {
    padding-bottom: 0px;
  }

  .awardSec p {
    padding-right: 0;
  }

  .awardSlider {
    padding-left: 0px;
    margin-bottom: 0 !important;
  }

  .awardsHeading {
    font-size: 25px;
    line-height: 25px;
  }

  .btn {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 576px) {
  .btn a {
    padding: 10px 20px;
  }

  .awardsHeading {
    font-size: 23px;
    line-height: 25px;
  }

  .txt::after {
    display: none;
  }

  .pageReviews p {
    font-size: 22px !important;
  }

  .awardSec p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0;
  }

  .txt p {
    text-align: justify;
  }
}

/* Media Query End */