.deliveredSection {
    padding: 200px 0 165px;
    /* background: linear-gradient(180deg, #8BB0FF, #FFA025); */
    background: linear-gradient(180deg, #8bb0ff79, #ffa1255d);
    position: relative;
    z-index: 1;
}

.hand_holding_mobile_center {
    width: 550px;
    height: 731px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.hand_holding_mobile_center img,
.appsters_shape_decor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.appsters_shape_decor {
    width: 900px;
    height: 840px;
    position: absolute;
    bottom: -80px;
    left: 55%;
    transform: translateX(-50%);
    filter: grayscale(11) brightness(11) drop-shadow(2px 4px 6px rgba(0, 0, 0, .025));
    z-index: -2;
}

.sec_left,
.sec_right {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.box {
    background: #F4F4F4;
    box-shadow: 0 0 1px 1px rgb(215 215 215);
    border-radius: 0px 10px 10px 10px;
    padding: 0 20px 20px;
    position: relative;
    z-index: 1;
}

.box_before {
    width: 445px;
    height: 45px;
    position: absolute;
    top: -45px;
    left: -1px;
    z-index: 2;
}

.counter {
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -4px;
    font-weight: var(--font-600);
    color: var(--secondary-color);
    font-family: 'Big Shoulders', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
}


.heading {
    color: var(--secondary-color);
    font-weight: var(--font-600);
    margin: 10px 0 25px;
}

.para {
    color: var(--secondary-color);
    height: 50px;
}

@media screen and (max-width:1600px) {
    .deliveredSection {
        padding: 140px 0 60px;
    }

    .appsters_shape_decor {
        width: 756px;
        height: 700px;
        bottom: -60px;
    }

    .hand_holding_mobile_center {
        width: 465px;
        height: 620px;
    }

    .box {
        padding: 0 15px 15px;
    }

    .box_before {
        width: 400px;
        height: 41px;
        top: -41px;
    }

    .counter {
        letter-spacing: -3px;
        font-size: 70px;
        line-height: 70px;
    }

    .counter svg {
        width: 50px;
    }

    .heading {
        margin: 10px 0 15px;
    }

    .para {
        height: 80px;
    }
}

@media screen and (max-width:1399px) {
    .deliveredSection {
        padding: 100px 0 60px;
    }

    .appsters_shape_decor {
        width: 690px;
        height: 650px;
        bottom: -60px;
    }

    .sec_left,
    .sec_right {
        gap: 70px;
    }

    .hand_holding_mobile_center {
        width: 391px;
        height: 520px;
    }

    .box_before {
        width: 360px;
        height: 37px;
        top: -37px;
    }

    .counter {
        letter-spacing: -2px;
        font-size: 60px;
        line-height: 60px;
    }

    .counter svg {
        width: 40px;
    }

    .heading {
        margin: 10px 0;
    }

    .para {
        height: 70px;
    }
}

@media screen and (max-width:1199px) {
    .deliveredSection {
        padding: 60px 0 40px;
    }

    .appsters_shape_decor {
        width: 590px;
        height: 550px;
        bottom: -60px;
    }

    .sec_left,
    .sec_right {
        gap: 60px;
    }

    .hand_holding_mobile_center {
        width: 338px;
        height: 450px;
    }

    .box_before {
        width: 300px;
        height: 31px;
        top: -30px;
    }

    .counter {
        letter-spacing: -1px;
        font-size: 50px;
        line-height: 50px;
    }

    .counter svg {
        width: 35px;
    }

    .para {
        height: 80px;
    }
}

@media screen and (max-width:991px) {
    .appsters_shape_decor {
        width: 450px;
        height: 420px;
        bottom: -60px;
    }

    .sec_left,
    .sec_right {
        gap: 60px;
    }

    .hand_holding_mobile_center {
        width: 255px;
        height: 340px;
    }

    .box_before {
        width: 220px;
        height: 23px;
        top: -22px;
    }

    .counter {
        letter-spacing: 0px;
        font-size: 40px;
        line-height: 40px;
    }

    .counter svg {
        width: 30px;
    }

    .para {
        height: 110px;
    }
}

@media screen and (max-width:767px) {

    .appsters_shape_decor,
    .hand_holding_mobile_center {
        display: none;
    }

    .sec_left,
    .sec_right {
        gap: 25px;
        flex-direction: row;
    }

    .sec_right {
        margin-top: 60px;
    }

    .box_before {
        width: 100%;
        height: 25px;
        top: -24px;
    }

    .box_before img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .counter {
        letter-spacing: 0px;
        font-size: 40px;
        line-height: 40px;
    }

    .counter svg {
        width: 30px;
        height: 30px;
    }

    .para {
        height: 90px;
    }
}

@media screen and (max-width:575px) {
    .sec_left,
    .sec_right {
        gap: 60px;
        flex-direction: column;
    }

    .box_before {
        width: 297px;
        height: 30px;
        top: -30px;
    }

    .para {
        height: unset;
    }
}