.lpMVPDevelopment {
    font-family: var(--font-dmsans);
    background: #fff;
    color: #111;
    overflow-x: hidden;
}

.lpMVPDevelopment h1,
.lpMVPDevelopment h2,
.lpMVPDevelopment h3,
.lpMVPDevelopment h4,
.lpMVPDevelopment h5,
.lpMVPDevelopment h6 {
    font-family: var(--font-montserrat);
}

.lpMVPDevelopment section {
    position: relative;
}

.cover {
    position: relative;
    z-index: 1;
}

.coverImg {
    z-index: -1;
}
