.heroSection {
    padding: 195px 0 200px;
    position: relative;
    z-index: 1;
}

.bannerBg {
    z-index: -1;
}

.transparent_heading {
    display: block;
    width: 100%;
    font-size: 296px;
    line-height: 296px;
    text-transform: uppercase;
    font-weight: var(--font-900);
    letter-spacing: -8px;
    font-family: 'Big Shoulders', sans-serif;
    text-fill-color: transparent;
    text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffffff0d;
    -moz-text-fill-color: transparent;
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 0;
}

.banner_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.sub_heading {
    font-size: 40px;
    line-height: 40px;
    font-weight: var(--font-500);
    text-transform: capitalize;
    font-family: 'Big Shoulders', sans-serif;
    margin: 0;
}

.main_heading {
    font-size: 78px;
    line-height: 88px;
    letter-spacing: -3px;
    font-weight: var(--font-700);
    text-transform: uppercase;
    margin: 25px 0 15px;
}

.paragraph {
    font-size: 20px;
}

.mobile_screen {
    width: 1000px;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: 2;
}

.mobile_screen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:1600px) {
    .heroSection {
        padding: 150px 0 150px;
    }

    .sub_heading {
        font-size: 30px;
    }

    .transparent_heading {
        font-size: 200px;
        line-height: 200px;
        bottom: 60px;
    }

    .main_heading {
        letter-spacing: -1px;
        font-size: 60px;
        line-height: 60px;
        margin: 20px 0 10px;
    }

    .paragraph {
        font-size: 16px;
    }

    .mobile_screen {
        width: 790px;
        bottom: 40px;
    }
}

@media screen and (max-width:1399px) {
    .heroSection {
        padding: 140px 0 140px;
    }

    .sub_heading {
        font-size: 25px;
    }

    .transparent_heading {
        font-size: 170px;
        line-height: 170px;
        bottom: 50px;
    }

    .main_heading {
        font-size: 50px;
        line-height: 50px;
        margin: 15px 0 10px;
    }

    .mobile_screen {
        width: 700px;
        bottom: 30px;
    }
}

@media screen and (max-width:1199px) {
    .heroSection {
        padding: 140px 0 100px;
    }

    .sub_heading {
        font-size: 20px;
    }

    .transparent_heading {
        font-size: 140px;
        line-height: 140px;
        bottom: 50px;
    }

    .main_heading {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
    }

    .paragraph {
        font-size: 14px;
    }

    .mobile_screen {
        width: 570px;
        bottom: 30px;
    }
}

@media screen and (max-width:991px) {
    .heroSection {
        padding: 130px 0 100px;
    }

    .sub_heading {
        font-size: 18px;
    }

    .transparent_heading {
        font-size: 110px;
        line-height: 110px;
        bottom: 40px;
    }

    .main_heading {
        font-size: 30px;
        line-height: 30px;
    }

    .mobile_screen {
        width: 450px;
        bottom: 20px;
    }
}

@media screen and (max-width:767px) {
    .heroSection {
        padding: 130px 0 0px;
    }

    .transparent_heading {
        font-size: 90px;
        line-height: 90px;
        bottom: 50px;
    }

    .main_heading {
        font-size: 30px;
        line-height: 30px;
    }

    .banner_right {
        margin-top: 25px;
    }

    .mobile_screen {
        width: 400px;
        bottom: 0px;
        position: unset;
        margin-left: auto;
    }
}

@media screen and (max-width:575px) {
    .heroSection {
        padding: 130px 0 0px;
    }

    .transparent_heading {
        font-size: 40px;
        line-height: 40px;
        bottom: 40px;
        letter-spacing: 0px;
        z-index: -1;
    }

    .sub_heading {
        font-size: 18px;
        line-height: 20px;
    }

    .main_heading {
        font-size: 25px;
        line-height: 25px;
    }

    .banner_right {
        margin-top: 20px;
    }

    .mobile_screen {
        width: 300px;
        bottom: 0px;
    }
}